﻿@model List<User>
@{
	var authUser = Context.GetAuthUser();
	var token = Context.GetAntiforgeryToken();
}
<h1 class="h1">Userlist</h1>

<div class="table-responsive">
	<table class="table">
		<thead class="thead-light">
			<tr>
				<th scope="col">Username</th>
				<th scope="col" class="text-center">MFA</th>
				<th scope="col" class="text-center">New Password</th>
				<th scope="col" class="text-center">Keys</th>
				<th scope="col">&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var user in Model)
			{
				<tr data-id="@user.Id">
					<td>@user.Username</td>
					<td class="text-center">@(user.IsMfaEnabled ? "YES" : "NO")</td>
					<td class="text-center"><a href="#" class="password">@(user.RequireNewPassword ? "YES" : "NO")</a></td>
					<td class="text-center">@(user.WebAuthnKeys.Count)</td>
					<td class="text-right">
						@if (user.Id != authUser.Id)
						{
							<button type="button" class="btn btn-sm btn-danger delete">Delete</button>
						}
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>

@section Scripts {
<script type="text/javascript">
	$(function () {
		$('.password').click(async event => {
			event.preventDefault();
			let id = Number($(event.currentTarget).closest('tr').data('id'));
			let data = new FormData();
			data.append('id', id);
			data.append('@token.Name', '@token.Value');

			let response = await fetch('@Url.Action("SwitchPassword", "Admin")', {
				method: 'POST',
				body: data
			});

			let text = await response.json();
			$(event.currentTarget).text(text);
		});

		$('.delete').click(async event => {
			event.preventDefault();
			let ok = confirm('Do you want to delete the user?');
			if (ok) {
				let id = Number($(event.currentTarget).closest('tr').data('id'));
				let data = new FormData();
				data.append('id', id);
				data.append('@token.Name', '@token.Value');

				let response = await fetch('@Url.Action("Delete", "Admin")', {
					method: 'POST',
					body: data
				});

				if (response.ok) {
					$(event.currentTarget).closest('tr').remove();
				}
			}
		})
	});
</script>
}