﻿@model AccountViewModel
<h1 class="h1">Change Password</h1>

<form asp-controller="Account" asp-action="ChangePassword" asp-route-returnUrl="@Context.GetOriginalRequest()" method="post">
	<div class="form-group">
		<label asp-for="Current">Current Password</label>
		<input asp-for="Current" class="form-control" type="password">
		<span asp-validation-for="Current"></span>
	</div>

	<div class="form-row">
		<div class="form-group col-sm-6">
			<label asp-for="Password">New Password</label>
			<input asp-for="Password" class="form-control" type="password">
			<span asp-validation-for="Password"></span>
		</div>
		<div class="form-group col-sm-6">
			<label asp-for="Repeat">Repeat Password</label>
			<input asp-for="Repeat" class="form-control" type="password">
			<span asp-validation-for="Repeat"></span>
		</div>
	</div>

	<div class="form-group">
		<button type="submit" class="btn btn-primary">Save</button>
	</div>
</form>