﻿@model User
@{
	var token = Context.GetAntiforgeryToken();
}
<h1 class="h1">Edit your profile</h1>

<form asp-controller="Account" asp-action="Index" method="post">
	<div class="form-group">
		<label asp-for="Username">Username</label>
		<input asp-for="Username" class="form-control" readonly>
	</div>

	<div class="form-row">
		<div class="form-group col-sm-6">
			<label asp-for="Firstname">Firstname</label>
			<input asp-for="Firstname" class="form-control">
		</div>
		<div class="form-group col-sm-6">
			<label asp-for="Lastname">Lastname</label>
			<input asp-for="Lastname" class="form-control">
		</div>
	</div>

	<div class="form-row">
		<div class="form-group col-sm-4">
			<label asp-for="CurrentPassword">Current Password</label>
			<input asp-for="CurrentPassword" class="form-control" type="password" placeholder="required on password change">
		</div>
		<div class="form-group col-sm-4">
			<label asp-for="NewPassword">New Password</label>
			<div class="input-group">
				<input asp-for="NewPassword" class="form-control" type="password">
				<div class="input-group-append">
					<button type="button" class="btn btn-outline-secondary toggle-password">Show</button>
				</div>
			</div>
		</div>
		<div class="form-group col-sm-4">
			<label asp-for="PasswordRepeat">Repeat Password</label>
			<input asp-for="PasswordRepeat" class="form-control" type="password">
		</div>
	</div>

	<div class="form-group">
		<label>Multi-Factor Authentication</label>
		<div>
			@if (Model.IsMfaEnabled)
			{
				<button type="submit" class="btn btn-danger" asp-controller="Account" asp-action="DisableMfa">Disable MFA</button>
			}
			else
			{
				<button type="button" class="btn btn-success" data-toggle="modal" data-target="#mfa-modal">Enable MFA</button>
			}
			<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#authenticator-modal">Authenticator</button>
			<button type="button" class="btn btn-info" data-toggle="modal" data-target="#recovery-modal">Recovery Key</button>
		</div>
	</div>

	<div class="form-group">
		<button type="submit" class="btn btn-primary">Save</button>
	</div>
</form>

<h1 class="h1">WebAuthn Credential Keys (FIDO2)</h1>
<div class="table-responsive">
	<table class="table">
		<thead class="thead-light">
			<tr>
				<th scope="col">Name</th>
				@*<th scope="col" class="text-center">Used</th>*@
				<th scope="col">Registered</th>
				<th scope="col">Type</th>
				<th scope="col" class="text-right">
					<button type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#register-modal">Add</button>
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var key in Model.WebAuthnKeys)
			{
				<tr>
					<td>@key.Name</td>
					@*<td class="text-center">@key.Counter</td>*@
					<td>@key.RegisteredAt.ToString("yyyy-MM-dd HH:mm:ss")</td>
					<td>@(key.IsLogin ? "Login" : "Multi-Factor")</td>
					<td class="text-right">
						<button type="button" class="btn btn-sm btn-danger delete" data-id="@key.DescriptorId">Delete</button>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>

<div class="modal fade" id="register-modal" tabindex="-1" aria-labelledby="rm-title" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="rm-title">Register Key</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label for="rm-name">Name</label>
					<input id="rm-name" class="form-control">
				</div>
				<div class="form-group">
					<div class="custom-control custom-checkbox">
						<input class="custom-control-input" id="rm-login" type="checkbox">
						<label class="custom-control-label" for="rm-login">Is used as login</label>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" id="register">Register</button>
				<button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="authenticator-modal" tabindex="-1" aria-labelledby="am-title" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="rm-title">Configure Authenticator</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<ol>
					<li>Open your Authenticator (e.g. Authy or Microsoft Authenticator)</li>
					<li>Add a new Account by
						<ul>
							<li>scanning the QR code
								<div id="am-qr"></div>
							</li>
							<li>typing the secret
								<input class="form-control" value="@Model.TotpSecret" readonly>
							</li>
						</ul>
					</li>
					<li>Verify the setup
						<div class="input-group">
							<input class="form-control" id="am-code">
							<div class="input-group-append">
								<button class="btn btn-outline-secondary" id="am-verify">Verify</button>
							</div>
						</div>
					</li>
				</ol>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="recovery-modal" tabindex="-1" aria-labelledby="km-title" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="km-title">Recovery Key</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>
					The recovery key should be stored on a safe place. It can be used to verify the multi-factor login when no other method is available.
				</p>
				<input class="form-control" value="@Model.RecoveryKey" readonly>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="mfa-modal" tabindex="-1" aria-labelledby="mm-title" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="mm-title">Enable Multi-Factor Authentication</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label for="mm-code">TOTP Code</label>
					<input id="mm-code" class="form-control">
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" id="authenticator">Authenticator</button>
				<button type="button" class="btn btn-primary" id="webauthn">WebAuthn</button>
				<button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<script type="text/javascript">
		$(function () {

			// BEGIN: WebAuthn

			$('#register-modal').on('show.bs.modal', () => {
				$('#rm-name').val('');
				$('#rm-login').prop('checked', false);
			});

			$('#register').click(async event => {
				event.preventDefault();
				let isLogin = $('#rm-login').is(':checked');
				let name = $('#rm-name').val().trim();
				if (name === '')
					return;

				let response = await fetch('@Url.Action("GetRegisterOptions", "Account")?isLogin=' + (isLogin ? 'true' : 'false'));
				let json = await response.json();

				if (json.options.status !== 'ok') {
					console.error('WebAuthn options failed', json.options.errorMessage);
					alert('Could not load the needed parameters');
					return;
				}

				if (json.options.authenticatorSelection.authenticatorAttachment === null)
					json.options.authenticatorSelection.authenticatorAttachment = undefined;

				json.options.challenge = coerceToArrayBuffer(json.options.challenge);
				json.options.user.id = coerceToArrayBuffer(json.options.user.id);
				json.options.excludeCredentials = json.options.excludeCredentials.map(c => {
					c.id = coerceToArrayBuffer(c.id);
					return c;
				});

				let credential = await navigator.credentials.create({ publicKey: json.options });
				let cred = {
					id: credential.id,
					rawId: base64Encode(credential.rawId),
					type: credential.type,
					extensions: credential.getClientExtensionResults(),
					response: {
						attestationObject: base64Encode(credential.response.attestationObject),
						clientDataJSON: base64Encode(credential.response.clientDataJSON)
					}
				};

				let data = new FormData();
				data.append('uid', json.uid);
				data.append('name', name);
				data.append('data', JSON.stringify(cred));
				data.append('@token.Name', '@token.Value');

				response = await fetch('@Url.Action("RegisterWebAuthn", "Account")', {
					method: 'POST',
					body: data
				});

				if (response.ok) {
					json = await response.json();
					if (json.status === 'ok') {
						location.href = '@Url.Action("Index", "Account")';
					}
					else {
						console.error('WebAuthn register failed', json.errorMessage);
						alert('The credential registration was not successful');
					}
				}
				else {
					console.error(response);
					alert('The credential registration was not successful');
				}
			});

			$('.delete').click(async event => {
				event.preventDefault();
				let ok = confirm('Do you want to delete the key?');
				if (ok) {
					let id = $(event.currentTarget).data('id');
					let data = new FormData();
					data.append('id', id);
					data.append('@token.Name', '@token.Value');

					let response = await fetch('@Url.Action("DeleteWebAuthn", "Account")', {
						method: 'POST',
						body: data
					});

					if (response.ok)
						location.reload(true);
				}
			});

			// END: WebAuthn

			// BEGIN: Authenticator

			$('#am-qr').qrcode({
				render: 'canvas',
				size: 250,
				text: 'otpauth://totp/' + encodeURIComponent('LoginExperiments') + '%3A' + encodeURIComponent('@Model.Username') + '?secret=@(Model.TotpSecret)&issuer=' + encodeURIComponent('Login Experiments')
			});

			$('#am-verify').click(async event => {
				event.preventDefault();
				$('#am-code').removeClass()
					.addClass('form-control');

				let code = $('#am-code').val().trim();
				let data = new FormData();
				data.append('code', code);
				data.append('@token.Name', '@token.Value');

				let response = await fetch('@Url.Action("VerifyTotp", "Account")', {
					method: 'POST',
					body: data
				});

				if (response.ok) {
					$('#am-code').addClass('is-valid');
				}
				else {
					$('#am-code').addClass('is-invalid');
				}
			});

			// END: Authenticator

			// BEGIN: MFA

			$('#mfa-modal').on('show.bs.modal', () => {
				$('#mm-code').val('');
			});

			$('#authenticator').click(async event => {
				event.preventDefault();
				let code = $('#mm-code').val().trim();
				let data = new FormData();
				data.append('code', code);
				data.append('@token.Name', '@token.Value');

				let response = await fetch('@Url.Action("EnableMfaCode", "Account")', {
					method: 'POST',
					body: data
				});

				if (response.ok)
					location.reload(true);
			});

			$('#webauthn').click(async event => {
				event.preventDefault();
				let response = await fetch('@Url.Action("GetMfaOptions", "Account")');
				let json = await response.json();

				if (json.options.status !== 'ok') {
					console.error('WebAuthn options failed', json.options.errorMessage);
					alert('Could not load the needed parameters');
					return;
				}

				json.options.challenge = coerceToArrayBuffer(json.options.challenge);
				json.options.allowCredentials = json.options.allowCredentials.map(c => {
					c.id = coerceToArrayBuffer(c.id);
					return c;
				});

				let credential = await navigator.credentials.get({ publicKey: json.options });
				let cred = {
					id: credential.id,
					rawId: base64Encode(credential.rawId),
					type: credential.type,
					extensions: credential.getClientExtensionResults(),
					response: {
						authenticatorData: base64Encode(credential.response.authenticatorData),
						clientDataJSON: base64Encode(credential.response.clientDataJSON),
						signature: base64Encode(credential.response.signature),
						userHandle: null
					}
				};
				if (credential.response.userHandle !== null)
					cred.response.userHandle = base64Encode(credential.response.userHandle);

				let data = new FormData();
				data.append('uid', json.uid);
				data.append('data', JSON.stringify(cred));
				data.append('@token.Name', '@token.Value');

				response = await fetch('@Url.Action("EnableMfaKey", "Account")', {
					method: 'POST',
					body: data
				});

				if (response.ok)
					location.reload(true);
			});

			// END: MFA
		});
	</script>
}