﻿@model AccountViewModel
@{
	var token = Context.GetAntiforgeryToken();
}
<h1 class="h1">Sign In</h1>

<form asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Context.GetOriginalRequest()" method="post">
	<div class="form-group">
		<label asp-for="Username" class="required">Username</label>
		<input asp-for="Username" class="form-control">
		<span asp-validation-for="Username"></span>
	</div>

	<div class="form-group">
		<label asp-for="Password" class="required">Password</label>
		<input asp-for="Password" class="form-control" type="password">
		<span asp-validation-for="Password"></span>
	</div>

	<div class="form-group">
		<button type="submit" class="btn btn-primary">Sign In</button>
		<button type="button" class="btn btn-secondary" id="webauthn">WebAuthn</button>
	</div>
</form>

@section Scripts {
<script type="text/javascript">
	$(function () {
		$('#webauthn').click(async event => {
			event.preventDefault();

			let response = await fetch('@Url.Action("GetAssertOptions", "Account")');
			let json = await response.json();

			if (json.options.status !== 'ok') {
				console.error('WebAuthn options failed', json.options.errorMessage);
				alert('Could not load the needed parameters');
				return;
			}

			json.options.challenge = coerceToArrayBuffer(json.options.challenge);
			json.options.allowCredentials = json.options.allowCredentials.map(c => {
				c.id = coerceToArrayBuffer(c.id);
				return c;
			});

			let credential = await navigator.credentials.get({ publicKey: json.options });
			let cred = {
				id: credential.id,
				rawId: base64Encode(credential.rawId),
				type: credential.type,
				extensions: credential.getClientExtensionResults(),
				response: {
					authenticatorData: base64Encode(credential.response.authenticatorData),
					clientDataJSON: base64Encode(credential.response.clientDataJSON),
					signature: base64Encode(credential.response.signature),
					userHandle: null
				}
			};
			if (credential.response.userHandle !== null)
				cred.response.userHandle = base64Encode(credential.response.userHandle);

			let data = new FormData();
			data.append('uid', json.uid);
			data.append('data', JSON.stringify(cred));
			data.append('@token.Name', '@token.Value');

			response = await fetch('@Url.Action("AssertLogin", "Account")', {
				method: 'POST',
				body: data
			});

			if (response.ok) {
				json = await response.json();
				if (json.status === 'ok') {
					location.href = '@Url.Action("Index", "Home")';
				}
				else {
					console.error('WebAuthn assert failed', json.errorMessage);
					alert('The credential assertion was not successful');
				}
			}
			else {
				console.error(response);
				alert('The credential assertion was not successful');
			}
		});
	});
</script>
}
