﻿@model AccountViewModel
<h1 class="h1">Register new account</h1>

<form asp-controller="Account" asp-action="Register" method="post">
	<div class="form-group">
		<label asp-for="Username" class="required">Username</label>
		<input asp-for="Username" class="form-control">
		<span asp-validation-for="Username"></span>
	</div>

	<div class="form-group">
		<label asp-for="Password" class="required">Password</label>
		<div class="input-group">
			<input asp-for="Password" class="form-control" type="password">
			<div class="input-group-append">
				<button type="button" class="btn btn-secondary toggle-password">Show</button>
			</div>
		</div>
		<span asp-validation-for="Password"></span>
	</div>

	<div class="form-group">
		<label asp-for="Repeat" class="required">Repeat Password</label>
		<input asp-for="Repeat" class="form-control" type="password">
		<span asp-validation-for="Repeat"></span>
	</div>

	<div class="form-group">
		<button type="submit" class="btn btn-primary">Register</button>
	</div>
</form>