﻿@model MfaViewModel
@{
	var token = Context.GetAntiforgeryToken();
}

<h1 class="h1">Multi-Factor Authentication</h1>
<ul class="nav nav-pills nav-justified mb-4" role="tablist">
	<li class="nav-item" role="presentation">
		<a href="#totp" class="nav-link@(ViewBag.Tab == "totp" ? " active" : "")" id="totp-tab" data-toggle="tab" role="tab" aria-controls="totp">TOTP</a>
	</li>
	<li class="nav-item" role="presentation">
		<a href="#authn" class="nav-link@(ViewBag.Tab == "webauthn" ? " active" : "")" id="authn-tab" data-toggle="tab" role="tab" aria-controls="authn">FIDO2</a>
	</li>
	<li class="nav-item" role="presentation">
		<a href="#recovery" class="nav-link@(ViewBag.Tab == "recovery" ? " active" : "")" id="recovery-tab" data-toggle="tab" role="tab" aria-controls="recovery">Recovery Key</a>
	</li>
</ul>

<div class="tab-content">
	<div class="tab-pane fade@(ViewBag.Tab == "totp" ? " show active" : "")" id="totp" aria-labelledby="totp-tab">
		<p class="small text-muted">
			<strong>T</strong>ime-based <strong>O</strong>ne-<strong>T</strong>ime-<strong>P</strong>asswords are usually generated with an authenticator app (e.g. Authy or Microsoft Authenticator).
		</p>
		<form asp-controller="Mfa" asp-action="Totp" asp-route-returnUrl="@Context.GetOriginalRequest()" method="post">
			<div class="form-group">
				<label asp-for="TotpKey">Code</label>
				<input asp-for="TotpKey" class="form-control">
				<span asp-validation-for="TotpKey"></span>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary btn-block">Submit</button>
			</div>
		</form>
	</div>
	<div class="tab-pane fade@(ViewBag.Tab == "webauthn" ? " show active" : "")" id="authn" aria-labelledby="authn-tab">
		<p class="small text-muted">
			With using FIDO2, the browser's native WebAuthn feature is used to authenticate the user.
		</p>
		<div class="form-group">
			<button type="button" class="btn btn-primary btn-block" id="webauthn">Authenticate</button>
		</div>
	</div>
	<div class="tab-pane fade@(ViewBag.Tab == "recovery" ? " show active" : "")" id="recovery" aria-labelledby="recovery-tab">
		<p class="small text-muted">
			The recovery key can be used whenever no other option is available (e.g. device is missing).
		</p>
		<form asp-controller="Mfa" asp-action="Recovery" asp-route-returnUrl="@Context.GetOriginalRequest()" method="post">
			<div class="form-group">
				<label asp-for="RecoveryKey">Recovery Key</label>
				<input asp-for="RecoveryKey" class="form-control">
				<span asp-validation-for="RecoveryKey"></span>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary btn-block">Submit</button>
			</div>
		</form>
	</div>
</div>

@section Scripts {
	<script type="text/javascript">
		$(function () {
			$('#webauthn').click(async event => {
				event.preventDefault();
				let response = await fetch('@Url.Action("GetOptions", "Mfa")');
				let json = await response.json();

				if (json.options.status !== 'ok') {
					console.error('WebAuthn options failed', json.options.errorMessage);
					alert('Could not load the needed parameters');
					return;
				}

				json.options.challenge = coerceToArrayBuffer(json.options.challenge);
				json.options.allowCredentials = json.options.allowCredentials.map(c => {
					c.id = coerceToArrayBuffer(c.id);
					return c;
				});

				let credential = await navigator.credentials.get({ publicKey: json.options });
				let cred = {
					id: credential.id,
					rawId: base64Encode(credential.rawId),
					type: credential.type,
					extensions: credential.getClientExtensionResults(),
					response: {
						authenticatorData: base64Encode(credential.response.authenticatorData),
						clientDataJSON: base64Encode(credential.response.clientDataJSON),
						signature: base64Encode(credential.response.signature),
						userHandle: null
					}
				};
				if (credential.response.userHandle !== null)
					cred.response.userHandle = base64Encode(credential.response.userHandle);

				let data = new FormData();
				data.append('uid', json.uid);
				data.append('data', JSON.stringify(cred));
				data.append('@token.Name', '@token.Value');

				response = await fetch('@Url.Action("MakeAssert", "Mfa")', {
					method: 'POST',
					body: data
				});

				if (response.ok)
					location.href = '@Context.GetOriginalRequest()';
			})
		});
	</script>
}