﻿<h1 class="h1">@ViewBag.Title</h1>

<p>
	You're data is stored within a memory database. That means, whenever the server or the application is restarted, all your data is lost.
	So please use only keys which you can reset or manage in order to delete these development keys.
</p>
<p>
	Every week the application will definitly be restarted to gain a clean start.
	The restart be the night from sunday to monday at <em>midnight</em> in <em>Europe/Berlin</em>.
</p>
